html {
  height: 100%;
  font-family: 'DM Sans'
}

body {
  margin: 0;
  font-family: 'DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans'), url(../fonts/DMSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  src: local('DM Sans'), url(../fonts/DMSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: bold;
  src: local('DM Sans'), url(../fonts/DMSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: bold;
  font-style: italic;
  src: local('DM Sans'), url(../fonts/DMSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  src: local('DM Sans'), url(../fonts/DMSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: italic;
  src: local('DM Sans'), url(../fonts/DMSans-MediumItalic.ttf) format('truetype');
}