.page {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  align-items: center;
  justify-content: center;
}

.social-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.social-list-item {
  margin: 0 0.25rem;
}

.about-profile-pic {
  width: 7rem;
  height: 7rem;
}

.about-me-text {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: gray;
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
}

.top-header {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
}

.body-text {
  flex: 1;
  color: #4a4a4a;
  margin: 1rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  white-space: normal;
}

.project-container {
  display: flex;
}

.about-section {
  display: flex;
  flex-direction: column-reverse;
  align-self: stretch;
  margin: 1rem 1rem;
  padding-bottom: 1rem;
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

.about-section-header {
  align-self: flex-start;
  margin: 0rem 1rem;
  font-size: 1.5rem;
  /*
  border-bottom-color: black;
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  */
}

.about-card {
  display: flex;
  margin: 0.25rem 0;
}

.about-icon {
  width: 4.9rem;
  height: 4.9rem;
  margin-right: 1.5rem;
}

.about-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem 0;
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

.about-details-first {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem 0;
}

.ffl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  /*
  .page {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .top-header {
    text-align: left;
  }
  */

  .body-text {
    margin: 0;
  }

  .social-list {
    margin-left: 0rem;
  }

  .about-section-header {
    margin: 0;
  }

  .about-me-text {
    flex: 1;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .about-section {
    margin: 1rem 0;
  }

  .ffl-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
}