.svg-container {
  overflow: visible;
  height: 100%;
}

.time-button { 
  color: gray;
}

.time-button:hover {
  color: rgba(0, 200, 5, 1);
}

.time-button-active {
  color: rgba(0, 200, 5, 1);
}

.tooltip-line {
  stroke: grey;
  stroke-width: 2px;
}

.listening-rect {
  fill: none;
}

.tooltip-circle {
  stroke: rgba(0, 200, 5, 1);
  fill: rgba(0, 200, 5, 1);
}

.tooltip-card {
  font-size: 1.5em;
}